@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #131313;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--amiri), Arial, Helvetica, sans-serif;
}

.button-primary {
  @apply px-5 py-2 border-2 border-yellow-400 rounded-lg bg-yellow-400 text-black hover:scale-105 active:scale-100 transition-transform;
}
